<div class="album_items_add_dialog box_content">
	<table cellpadding="10">
    	<tr>
                <td rowspan="3" class="thumb" valign="top"></td>
                <td>
            	专辑
                        <select id="pid">
				<{if empty($albumList)}>
                                <option value="0">默认专辑</option>
				<{/if}>
				<{foreach $albumList as $val}>
				<option value="<{$val.id}>"><{$val.albumname}></option>
				<{/foreach}>
                        </select>
                </td>
        </tr>
        <tr>
                <td>
            	备注
                        <textarea></textarea>
                </td>        
        </tr>
        <tr>
            <td>
                <input type="submit" class="submit" value="确定"/>
            </td>        
        </tr>        
    </table>
</div>
