<{include file="index/header.html"}>
<div class="pad_10">
        <form action="<{$url}>/do_edit" method="post" name="myform" id="myform">
                <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                        <tr>
                                <th width="100">分类名称 :</th>
                                <td><input type="text" name="catename" id="module" class="input-text" value="<{$album_cate_info.catename}>"></td>
                        </tr>
                        <tr>
                                <th>状态 :</th>
                                <td>
                        <input type="radio" name="status" class="radio_style" value="1" <{if $album_cate_info.status eq 1}> checked<{/if}>> &nbsp;有效&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="status" class="radio_style" value="0" <{if $album_cate_info.status eq 0}> checked<{/if}>> &nbsp;禁用
                        </td>
                        </tr>
                </table>
                <input type="hidden" name="id" value="<{$album_cate_info.id}>" />
                <input type="submit" name="dosubmit" id="dosubmit" class="dialog" value=" ">
        </form>
</div>
<script>
        $("select option[value=<{$album_cate_info.id}>]").attr('disabled','true').css('background','#ccc');
</script>
</body>
</html>
