<{load href="<{$res}>/css/message_dialog.css"}>
<div class="pad_10">
	<div id="tit"><a id="close"><b>&nbsp;X</b></a></div>
	<div id="con">
		<form name="myform" id="my_form">
			<input type="hidden" name="id" value="<{$info.id}>" />
			<table width="100%" cellpadding="2" cellspacing="1" class="table_form">
				<tr>
					<th width="60">收信人 :</th>
					<td id="mypos">
						<input type="text" name="name" id="fname" size="25" value="<{$info.username}>" /><a href="javascript:void(0)" ></a>
						<input type="hidden" name="touid" id="touid" value="" />
					</td>
				</tr>
			
				<tr>
					<th>私信内容 :</th>
					<td><textarea rows="10" cols="55" name="content" id="content"><{$info.sign}></textarea></td>
				</tr>

			</table>
			<input type="button" name="dosubmit" id="dosubmit" class="dialog" value="确定" />
		</form>
	</div>
	<script type="text/javascript">
		$(function() {
			$('#close').click(function() {
				$('.pad_10').remove();
				$('#shadow').remove();
				$fobj = (typeof $('.ui-fs-all') == 'undefined') ? 'undefined' : $('.ui-fs-all');
				if ($fobj != 'undefined') {
					$fobj.remove();
				}
			});
			$('#fname').next().toggle(function(){
				$fdiv = $('<div class="ui-fs-all" style="display: block;padding:10px; background:#abcdef;"><div class="top"><select id="ui-fs-friendtype"><!--<option value="-1">与我互粉的人</option>--><option value="1">与我互粉的人</option><option value="2">我关注的人</option><option value="3">我的粉丝</option></select></div><div class="ui-fs-allinner" style="min-height:200px;min-width:200px;background:#fff"><div class="mypage"><{$fpage}></div><div class="flist clearfix" id="flist"> </div></div></div>');
				$('body').append($fdiv);
				var top2 = $('#mypos').offset().top + 30;
				var left2 = $('#mypos').offset().left + 2;

				$fdiv.css({
					'position':'absolute',
					'top':top2,
					'left':left2,
					'z-index':'3',
				});
				//Ajax 请求服务器，返回联系人列表
				function getpage(url, $type) {
				$.post(url, {'act':'flist', 'type':$type}, function(data){
					$('#flist').html(data);
					})
				}
				var $type = 1;
				$('#ui-fs-friendtype').change(function() {
					$type = $(this).val();
					//请求服务器，返回联系人列表
					getpage('<{$url}>/index', $type);
				});

				//返回默认互粉列表
				getpage('<{$url}>/index', $type);
			},function(){
				$('.ui-fs-all').remove();
			});

			$('#flist a.mpage').live('click', function(){//点击联系人，添加到收信人框中
				var $data = $(this).text();
				var $uid = $(this).attr('name');
				$('#fname').attr('value', $data);
				$('#touid').attr('value', $uid);
				//alert($uid)
			});
			$('#content').focus(function(){//焦点在内容框处，清除联系人列表
				$('.ui-fs-all').remove();
			});
			var $context = $('#my_form');
			$('#dosubmit', $context).click(function(){
				//alert(1)
				var $fname = $('#fname').attr('value');
				var $touid = $('#touid').attr('value');
				var $content = $('#content').attr('value');
				if ($fname == '') {//判断收信人是否为空
					$('#fname').focus();
					return;
				} else if ($content == '') {//判断私信内容是否为空
					$('#content').focus();
					return;	
				}
				
				$.post('<{$url}>/index', {
					'act':'send',
					'fromuid':def.user_id,
					'touid':$touid,
					'content':$content,
				}, function(data){
					if (data == 'success') {
						$('.pad_10').remove();
						$('#shadow').remove();
						alert('发送成功');
					} else {
						alert('发送失败')
					}
				});
			});
		});
	</script>
</div>

