<{include file="index/header.html"}>
<div class="pad_10">
        <form action="<{$url}>/do_edit" method="post" name="myform" id="myform">
                <table width="100%" cellpadding="2" cellspacing="1" class="table_form">
                        <tr>
                                <th width="100">分类名称 :</th>
                                <td><input type="text" name="name" id="module" class="input-text" value="<{$node_info.name}>" /></td>
                        </tr>


                        <tr>
                                <th>eng :</th>
                                <td><input type="text" name="eng" id="action_name" class="input-text" value="<{$node_info.eng}>" /></td>
                        </tr>
                        <tr>
                                <th>父级分类 :</th>
                                <td>
                                        <select name="pid">
                                                <{$str = "&nbsp;&nbsp;&nbsp;&nbsp;"}>
                                                <{foreach $node_list as $val}>
                                                <{$val.level=count(explode("-",$val["assem"]))}>
                                                <{$str2=str_repeat($str,$val.level)}>
                                                <option value="<{$val.id}>" <{if $val.id eq $node_info.pid}> selected="selected"<{/if}>><{$str2}>|-<{$val.name}></option>
                                                <{/foreach}>
                                        </select>
                                </td>
                        </tr>
                        <tr>
                                <th>类型 :</th>
                                <td>
                                        <select name="groupid">
                                                <{foreach $groupid as $k=>$v}>
                                                <option value="<{$k}>" <{if $node_info.groupid eq $k}> selected="selected"<{/if}>><{$v}></option>
                                                <{/foreach}>
                                        </select>
                                </td>
                        </tr>
                        <tr>
                                <th>状态 :</th>
                                <td>
                        <input type="radio" name="status" class="radio_style" value="1" <{if $node_info.status eq 1}> checked<{/if}> /> &nbsp;有效&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="status" class="radio_style" value="0" <{if $node_info.status eq 0}> checked<{/if}> /> &nbsp;禁用
                        </td>
                        </tr>
                </table>
                <input type="hidden" name="id" value="<{$node_info.id}>" />
                <input type="submit" name="dosubmit" id="dosubmit" class="dialog" value=" " />
        </form>
</div>
<script>
        $("select option[value=<{$node_info.id}>]").attr('disabled','true').css('background','#ccc');
</script>
</body>
</html>
