<{include file="public/header.html"}>
<script>
$app = "<{$app}>";
</script>
<{load href="<{$res}>/css/uc_v1.css"}>  
<{load href="<{$public}>/js/jquery/jquery-1.7.2.min.js"}>
<{* uc.js木有！！！ 
<{load href="<{$res}>/js/uc.js"}>*}>
<{load href="<{$public}>/css/formvalidator.css" }>
<script language="javascript" type="text/javascript" src="<{$public}>/js/jquery/plugins/formvalidator.js"></script>
<script language="javascript" type="text/javascript" src="<{$public}>/js/jquery/plugins/formvalidatorregex.js"></script>

<div class="middle">
        <div class="uc clearfix account">
                <div class="register">
                        <div id="reg_left">
                                <h2>新会员注册</h2>
                                <div class="hint">加入美丽说，发现时尚，分享购物乐趣。</div>
                                <form action="<{$app}>/user/doRegister" method="post" id="myform">

                                        <table style="margin:40px 0px 0px 30px;">
                                                <tr>
                                                        <th><em class="red">*&nbsp;</em>登录帐号：</th>
                                                        <td><input type="text" class="input_text" id="username" name="username" value="<{$data.name}>"/><span></span></td>
                                                </tr>
                                                <tr>
                                                        <th><em class="red">*&nbsp;</em>电子邮箱：</th>
                                                        <td><input type="text" class="input_text" id="email" name="email" value="<{$data.email}>"/><span></span></td>
                                                </tr>
                                                <tr>
                                                        <th><em class="red">*&nbsp;</em>登录密码：</th>
                                                        <td><input type="password" class="input_text" name="password" id="password" value="<{$data.passwd}>"/><span></span></td>
                                                </tr>
                                                <tr>
                                                        <th><em class="red">*&nbsp;</em>确认密码：</th>
                                                        <td><input type="password" class="input_text" name="repassword" id="repassword"/><span></span></td>
                                                </tr>
                                                <tr>
                                                        <th>性别：</th>
                                                        <td>
                                                                <input type="radio" name="sex" value="1"/>男&nbsp;&nbsp;
                                                                <input type="radio" name="sex" value="0"/>女&nbsp;&nbsp;
                                                                <input type="radio" name="sex" value="2" checked="checked"/>保密
                                                        </td>
                                                </tr>                      
                                                <tr>
                                                        <th><em class="red">*&nbsp;</em>验证码：</th>
                                                        <td>
                                                                <input type="text" name="code" id="verify" class="input_text left" style="width:100px;"/>
                                                                <img src="<{$app}>/user/code" class="verify_img" class="left" 
                                                                     onclick="this.src='<{$app}>/user/code'"
                                                                     style="margin:5px 0px 0px 10px;"/>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <th></th>
                                                        <td>
                                                                <input name="dosubmit" type="submit" value=" " class="reg_btn"/>
                                                        </td>
                                                </tr>
                                        </table>
                                </form>                
                        </div>
                        <div id="reg_right" class="login">
                                已有账号?请直接登录
                                <a class="login_btn" href="<{$app}>/user/login"></a>

                                <p>您也可以用以下方式登录</p>
                                <div class="login_list clearfix">
                                        <a href="#" class="sina" target="_self"></a>
                                        <a href="#" class="qq" target="_self"></a>
                                </div>                
                        </div>
                </div>
        </div>
</div>
<script type="text/javascript">
        $(function () {
	
                $("#username").blur(function () {
                        if ($("#username").attr('value') != '') {			
                                if ($("#username").attr('value').length < 3) {		//如果用户名少于4位
                                        $("#username").next("span").html(" 用户名不能少于3位！").css({'color':'#D54929'});
                                } else {											//用户名大于4位的时候
                                        $username = $("#username").attr('value');
                                        $.get($app+"/user/nameExists", {"username":$username}, function (data) {
                                                if (data == 1) {							//该用户存在
                                                        $("#username").next("span").html(" 该用户已存在！").css({'color':'#D54929'});
                                                } else {									//该用户不存在
                                                        $("#username").next("span").html(" 恭喜，该账号可以注册").css({'color':'green'});
                                                }
                                        });
                                }
                        }else {				//如果username为空
                                $("#username").next("span").html(" 用户名不能为空！").css({'color':'#D54929'});
                        }		
                });
	
                $("#email").blur(function () {
                        if ($("#email").attr('value') != '') {			
                                if ($("#email").attr('value').match(/\w+@\w+\.\w+/) != null) {
                                        $email = $("#email").attr('value');
                                        $.get($app+"/user/emailExists", {"email":$email}, function (data) {
                                                if (data == 1) {			//该email存在
                                                        $("#email").next("span").html(" 该邮箱已存在！").css({'color':'#D54929'});
                                                } else {							//该email不存在
                                                        $("#email").next("span").html(" 恭喜，该邮箱可以注册").css({'color':'green'});
                                                }
                                        });				
                                } else {
                                        $("#email").next("span").html(" 邮箱格式不正确！").css({'color':'#D54929'});				
                                }
                        }else {				//如果email为空
                                $("#email").next("span").html(" 邮箱不能为空！").css({'color':'#D54929'});
                        }		
                });
	
                $("#password").blur(function () {
                        if ($("#password").attr('value') != '') {			
                                if ($("#password").attr('value').length < 6) {			//密码少于6位
                                        $("#password").next("span").html(" 密码不少于6位！").css({'color':'#D54929'});	
                                        //下面为匹配不上字母加数组的组合密码
                                }else if ($("#password").attr('value').match(/(\d+[a-zA-Z]+)|([a-zA-Z]+\d+)/) == null) {													//密码大于6位		
                                        $("#password").next("span").html(" 密码必须是数字+字母的组合！").css({'color':'#D54929'});	
                                }else {
                                        $("#password").next("span").html(" 密码通过审核！").css({'color':'green'});					
                                }
                        }else {				//如果密码为空
                                $("#password").next("span").html(" 密码不能为空！").css({'color':'#D54929'});
                        }		
		
                });
	
                $("#repassword").blur(function () {
                        if ($("#repassword").attr('value') != '') {		
                                if ($("#repassword").attr('value').length < 6) {			//密码少于6位
                                        $("#repassword").next("span").html(" 密码不少于6位！").css({'color':'#D54929'});	
                                } else if ($("#repassword").attr('value') != $("#password").attr('value')) {
                                        $("#repassword").next("span").html(" 密码不一致！").css({'color':'#D54929'});
                                } else {
                                        $("#repassword").next("span").html(" 密码通过审核！").css({'color':'green'});
                                }
                        }else {				//如果密码为空
                                $("#repassword").next("span").html(" 密码不能为空！").css({'color':'#D54929'});
                        }				
                });
        });
</script>
<{include file="public/footer.html"}> 
